* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    
}

html, body, .box {
    width: 100%;
    height: 100%;
    color:rgb(66, 66, 66);
    font-size: 16px;
}

/* 导航栏 */
.wraper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 44px;
    background-color: rgb(255, 255, 255, 0.5);
    z-index: 99;
    color: white;
}
.wraper .nav {
    width: 100%;
    height: 100%;
    text-align: center;
}
.wraper .nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.wraper .nav ul .current {
    color: rgba(0, 0, 0, 0.712);
    font-weight: bolder;
}
.wraper .nav ul li {
    line-height: 44px;
    font-size: 16px;
}

/* 首页 */
.body-info {
    width: 100%;
    height: 100%;
    padding-top: 44px;
    box-sizing: border-box;
    background: linear-gradient( 180deg, #2AFADF 10%, #4C83FF 100%);

}
.body-info .bg-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.body-info .bg-info .me img {
    width: 100px;
    border-radius: 50% 50%;
}
.body-info .bg-info .info {
    width: 252px;
    top: 162px;
    left: 50%;
    margin-left: -100px;
    flex: 1;
    position: absolute;
}
.body-info .info p {
    margin: 10px 0;
}
.body-info .info p img {
    width: 20px;
    vertical-align: middle;
}

/* 个人技术栈 */
.body-skill {
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, #FFA6B7 10%, #1E2AD2 100%);
}
.body-skill .bg-skill{
    text-align: center;

}
.body-skill .content {
    display: inline-block;
    margin: 50px auto;
    text-align: left;
}
.body-skill .skill {
    font-weight: bolder;
    font-size: 18px;
}
.body-skill p{
    margin: 10px 0;
}
/* 项目经验 */
.body-pro {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, #C2FFD8 10%, #465EFB 100%);
}
.body-pro .bg-pro {
    display: flex;
    justify-content: center;;
    text-align: center;
}
.body-pro .bg-pro .content{
    width: 570px;;
    text-align: left;
}

.body-pro .content .qq {
    font-size: 18px;
    font-weight: bold;
}
.body-pro .content .app {
    font-size: 16px;
    font-weight: bold;
}
.body-pro .content p {
    margin: 10px 0;
}

/* 自我介绍 */
.body-me {
    width: 100%;
    height: 100%;
    background-image: radial-gradient( ellipse, rgb(176, 238, 245) 10%, rgb(81, 245, 223) 100%);
}
.body-me .bg-me{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-me .content {
    width: 570px;
}
.body-me .content .me {
    font-size: 18px;
    font-weight: bold;
}
.body-me .content p {
    margin: 20px 0;
}

@media screen and (max-width: 750px) {
    /* 设置导航栏样式 */
    * {
        margin: 0;
        padding: 0;
        font-size: 3.73vw;
    }
    .wrapper {
        width: 100%;
        height: 11.73vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: rgb(147, 248, 255);
    }
    .wraper .nav { 
       display: flex;
       justify-content: flex-start;
       align-items: center;
    }
    .wraper .nav li {
        text-align: center;
    }

    /* 首页样式 */
    .body-info, .bg-info {
        width: 100vw;
        height: 100vh; 
    }
    .body-info .bg-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .body-info .bg-info .me img{
        width: 37.5vw;
        border-radius: 50%;
    }
    .body .bg-info .info {
        width: 67.2vw;
        top: 36.66vw;
        left: 0%;
        margin-left: -50px;
        flex: 1;
        position: absolute;
    }

    /* 专业技能样式 */
    .body-skill {
        position: relative;
    }
    .body-skill .bg-skill {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: rgba(255, 255, 255, 0.7);
    }
    .body-skill .bg-skill .content {
        position: absolute;
        left: 10%;
        top: 40px;
        right: 10%;
        margin: auto;
    }

    /* 项目经验样式 */
    .body-pro {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        padding: 0 8vw 8vw;
    }
    .body-pro .bg-pro {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    /* 自我介绍样式 */
    .body-me {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        padding: 0 8vw 8vw;
    }
    .body-me .bg-me {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body-me .bg-me .content {

    }
}


 
